.slider_images{
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(196, 195, 195, 0.25));
  border-radius: 19px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}
.first_slider_image{
  margin-left: 50px;
}
.portfolio_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.portfolio_detail{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.portfolio_content{
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 90px;
}
.wrapper .swiper-pagination-bullet-active{
  background-color: orange;
}
.wrapper .swiper{
  width: 100%;
  
}
.wrapper .swiper-slide{
   
   display: flex;
   align-items: center;
   justify-content: center;
}
@media (max-width: 380px){
  .slider_images{
    width: 18rem;
  }
}