.contact_container{
  display: flex;
  width: 100%;
  height: 80vh;
  margin-top: 150px;
}
.left_contact{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
}
.left_contact_note{
  font-size: 40px;
  font-weight: bold;
}
.left_contact_detail{
  font-size: 40px;
  color: orange;
  font-weight: bold;
}
.right_contact{
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 50px;
}
.form_name{
  height: 2rem;
  padding: 0.6em;
  outline: none;
  border: 2px solid orange;
  border-radius: 8px;
  font-size: 16px;   
}
.form_email{
  height: 2rem;
  padding: 0.6em;
  outline: none;
  border: 2px solid orange;
  border-radius: 8px;
  font-size: 16px;   
}
.form_content{
  padding: 0.6em;
  height: 6rem;
  text-align: start;
  outline: none;
  border: 2px solid orange;
  border-radius: 8px;
  font-size: 16px;  
}
form input::placeholder{
  text-align: start;
  font-size: 16px;
}
.submit_button{
  display: flex;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  width: 100px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.submit_button:hover{
   background: white;
   color: black;
}
.submit_container{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
@media (max-width:900px){
  .contact_container{
    flex-direction: column;
  }
  .left_contact{
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .left_contact_note{
    font-size: 35px;
  }
  .left_contact_detail{
    font-size: 34px;
  }
  .right_contact{
    width: 100%;
  }
  form{
    width: 90%;
  
  }
  .form_name{
    padding: 0.3em;
  }
  .form_email{
    padding: 0.3em;
  }
  .form_content{
    padding: 0.3em;
  }
}