.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  align-items: center;
  z-index: 2;
  margin-bottom: 130px;
 
}

.left_section{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 50px;
  margin-left: 60px;
  
 
}
.dev_name{
 cursor: pointer;  
}
.right_section{
   display: flex;
   margin-right: 80px;
   flex: 2;
   align-items: center;
   justify-content: space-between;
  
  
}
ul{
  display: flex;
  gap: 70px;
  margin-right: 120px;
  list-style: none;
  cursor: pointer;
}
ul li:hover{
  color: orange;
}
.contact_button{
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  margin-left: 50px;
}
.contact_button:hover{
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: black;
}
.smaller_screen_menu{
  display: none;
}
.smaller_screen_exit{
  display: none;
}
@media (max-width){
  .left_section{
    margin-left: 20px;
    gap: 15px;
  }
  .smaller_screen{
    display: none;
  }
  .right_section{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 0;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    
    
 
  }
  ul{
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
    padding-top: 150px;
    align-items: center;
    margin-right: 0;
   

   
  }
  .small_contact{
 
    padding-bottom: 120px;
  }
  .contact_button{
    margin-left: 0;
    
   
  }
}
@media (max-width: 500px){
  .left_section{
    margin-left: 20px;
    gap: 15px;
  }
  
  .right_section{
    
    position: absolute;
    top: 0;
    height: 100vh;
    right: -1000px;
    margin-right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    transition: right 1.5s;

    
    
    
 
  }
  .smaller_screen{
    right: 0;
    left: 0;
    transition:0.5s;
    
  }
  ul{
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
    padding-top: 130px;
    align-items: center;
    margin-right: 0;
   

   
  }
  .small_contact{
 
    padding-bottom: 120px;
  }
  .contact_button{
    margin-left: 0;
    
   
  }
  .smaller_screen_menu{
    display: initial;
    margin-right: 30px;
    transform: scale(1.2);
    
  }
  .smaller_screen_disapper{
    display: none;
  }
  .smaller_screen_exit{
    display: initial;
    position: absolute;
    top: 40px;
    right: 40px;
    transform: scale(1.5);
    cursor: pointer;
  }
}