.floating_div{
   display: flex;
   justify-content: space-between;
   background: white;
   border-radius: 17px;
   align-items: center;
   box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
   height: 100px;
   padding: 0 10px;
  
   
   
   
   
}
.float_img{
  transform: scale(0.3)
}
.wording{
  font-size: 16px;
}