.experience_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
  margin-top: 350px;
  gap: 100px;
  cursor: pointer;
}

body{
  height: 100%;
 
}
#root{
  height: 100%;
}
.app_wrapper{
 
  height: 100%;

  
  
}


@media (max-width : 900px){
  .experience_container{
    margin-top: 1000px;
    flex-direction: column;
  }
}
[data-theme = "dark"]{
  background-color: black;
  color: white;

}
