.experience_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
  margin-top: 350px;
  gap: 100px;
  cursor: pointer;
}

@media (max-width : 900px){
  .experience_container{
    margin-top: 700px;
    flex-direction: column;
  }
}